.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    height: 100%;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.actionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.balanceContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.priceContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.h2 {
    display: flex;
    justify-content: center;
    width: 50%;
}
.spacer {
    width: 25%;
}
